# Solana cluster (localnet | devnet | mainnet-beta)
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Novarite program ID (update after anchor build)
NEXT_PUBLIC_PROGRAM_ID=53HE6Bd8xUv55nGbCYGuRtZEvYQNNGioZAGyr9jTEGEe

# RPC endpoint (optional — defaults to public)
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
